<!--
  Generated template for the RolePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header style="
    background-color: #00569F;" color="bluedark">


  <button style="background-color: #00569F;float:left;" ion-button menuToggle class="menu-toggle">
      <ion-icon name="menu"></ion-icon>
    </button>

  <ion-title  style="    text-align: center;
    margin-top: 10px;"    class="page-title">{{pageTitle}}</ion-title>

  <button style="float:left" ion-button (click)="notification()" style="position: absolute;
    right: 0%;
    top: 1%;background: transparent;">
  <ion-icon ios="ios-notifications-outline" md="md-notifications-outline"></ion-icon>
   <ion-badge style="    margin-top: 5px;
    margin-right: 7px;" item-end class="notificationcount" *ngIf="notcount>0">{{this.notcount}}</ion-badge>
</button>

  <!--ion-navbar color="bluedark" hideBackButton>
    <ion-title class="page-title">{{pageTitle}}</ion-title>
    <ion-buttons start>
      <button ion-button menuToggle class="menu-toggle">
      <ion-icon name="menu"></ion-icon>
    </button>
    </ion-buttons>



    <ion-buttons end>
      <button ion-button (click)="notification()">
  <ion-icon ios="ios-notifications-outline" md="md-notifications-outline"></ion-icon>
   <ion-badge item-end class="notificationcount" *ngIf="notcount>0">{{this.notcount}}</ion-badge>
</button>
    </ion-buttons>
  </ion-navbar-->
  <ion-navbar class="backtoprevious-navbar" hideBackButton>
    <ion-buttons start class="backtoprevious-start">
      <button ion-button icon-left class="backtoprevious-button" (click)="previous()">
 <ion-icon name="arrow-back" class="backtoprevious-icon"></ion-icon>
 Back to previous
</button>
    </ion-buttons>
    <ion-buttons end>
      Login As:{{loginas}}
    </ion-buttons>
  </ion-navbar>
    <button class="add-new-btn" (click)="doAdd()" *ngIf="CREATEACCESS==1   && networkType==''">
  	<div class="algn-cent">
    	<ion-icon name="ios-add-circle-outline"></ion-icon>
        <span>Add New Role</span>
    </div>
  </button>
</ion-header>
<ion-content padding class="ion-content" *ngIf="VIEWACCESS==0">
  <p style="color: red;
    position: relative;
    margin-top: 50%;
   text-align:center;
    font-size: 12pt;">{{permissionMessage}}</p>
</ion-content>
<ion-content padding class="ion-content" *ngIf="VIEWACCESS==1">
   <div class="error"  *ngIf="totalCount==0   && networkType==''">No role entries found</div>
  <ion-item style="width: 100%; margin: 0; padding-left: 10px;"  *ngIf="networkType==''">
    <ion-label>Sort By</ion-label>
    <ion-select style="padding: 1px 1px 6px 1px;" [(ngModel)]="pet" (ionChange)="onSegmentChanged(pet)">
      <ion-option value="companygroup_name,asc" selected="true">Name Asc</ion-option>
      <ion-option value="companygroup_name,desc">Name Desc</ion-option>
    </ion-select>
  </ion-item>
  <div class="separator-line"  *ngIf="totalCount!=0   && networkType==''">&nbsp;</div>
  <ion-refresher (ionRefresh)="doRefresh($event)"  *ngIf="totalCount!=0">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list  *ngIf="totalCount!=0   && networkType==''">    
    <ion-item-sliding  *ngFor="let item of reportAllLists;">
      <ion-item>
        <h2>{{item.role_name}}</h2>        
      </ion-item>
      <ion-item-options>
        <!--button class="viewcolor" (click)="doEdit(item,'view')">
                       <ion-icon name="eye" class="icon-size"></ion-icon>
                    </button-->
        <button class="editcolor" (click)="doEdit(item,'edit')" *ngIf="EDITACCESS==1">                      
                        <ion-icon name="create" class="icon-size"></ion-icon>
                    </button>
        <button *ngIf="item.role_id!=1 && DELETEACCESS==1" class="trashcolor" (click)="doConfirm(item.role_id,item)">                        
                         <ion-icon name="trash" class="icon-size"></ion-icon>
                    </button>
      </ion-item-options>     
    </ion-item-sliding>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)"  *ngIf="totalCount!=0">
    <ion-infinite-scroll-content loadingText="Loading More Data"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<ion-footer color="bluedark">
  <ion-toolbar color="bluedark">
<ul class="quick-list">
<li>
    <button ion-button icon-only clear (click)="redirectToMaps()">
    	<ion-icon name="home" class="footer-icon">MAPS</ion-icon>
    </button>
</li>  
<li>  
    <button ion-button icon-only (click)="redirectToUser()" clear>
    	<ion-icon name="contacts" class="footer-icon">UNITS</ion-icon>
    </button>
</li>     
<li>    
    <button ion-button icon-only (click)="redirectToMessage()" clear>
    	<ion-icon name="chatboxes" class="footer-icon">MESSAGE</ion-icon>
    </button>
</li>     
<li>    
    <button ion-button icon-only (click)="redirectCalendar()" clear>
    	<ion-icon name="bicycle" class="footer-icon">CALENDAR</ion-icon>
    </button>
</li>     
<li>    
    <button style="width: 34px;" ion-button icon-only (click)="redirectToSettings()" clear>
    	<ion-icon name="settings" class="footer-icon">ORG</ion-icon>
    </button>
</li>    
</ul>

  </ion-toolbar>
   <div class="network-error" *ngIf="networkType!=''">{{networkType}}</div>
</ion-footer>
