// http://ionicframework.com/docs/v2/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
//.md .menu-inner{background:url(../img/menu_bg.png) no-repeat scroll 0 0 / cover;}

ion-header {
  background: linear-gradient(to right, #3a7cd0, #0a1844);
  ion-title {
    color: #fff;
    margin: 0 !important;
    line-height: 44px;
    text-align: center;
  }
  button {
    &:nth-child(1) {
      float: left !important;
    }
    &:nth-child(2) {
      float: right !important;
    }
    ion-icon {
      &:before {
        font-size: 23px;
      }
    }
    &.menu-toggle, &.bell-icon {
      color: #fff !important;
    }
    &.login-as {
      color: #4c4c4c !important;
    }
  }
}
