page-forgotpassword {
.text-input-md, .text-input{border:0px solid #f2f2f2;margin: 10px 0 20px;min-height: 35px;padding: 0 10px; width: 100%;}
.label-md[stacked] {
    font-size: 14px;
}
.ion-content{
    background-color:white;
}
.button-inner{
  position:relative;
  bottom:12px;
}

ion-navbar.toolbar {
    background: #f0f0f0;
}
ion-navbar ion-buttons {
    margin-right: 15px;
}
.button-md-primary{width:100%;padding: 14px 1.1em;height:inherit;font-size: 16px;}
.scroll-content{background:#fff;}
 .label-md[stacked]{
        font-size: 14px;
        color:black;
        font-weight:bold;

    }

   .item-button{
       background-color:#009ACD;
       text-transform:capitalize;
   }

   ion-input, ion-textarea,ion-select {    
    border: 1px solid #ccc;
    border-radius: 3px;
}

.list-md .item-block .item-inner {
    border-bottom: 1px solid #fff;
}


.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
    border-bottom-color: #fff;
    box-shadow: inset 0 -1px 0 0 #fff;
}

.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
    border-bottom-color: #fff;
    box-shadow: #fff 0px -1px 0px 0px inset;
}

.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
    border-bottom-color: #fff;
    box-shadow: inset 0 -1px 0 0 #fff;
}

.item-md.item-input.input-has-focus .item-inner {
    border-bottom-color: #fff;
    box-shadow: inset 0 -1px 0 0 #fff;
}

ion-navbar.toolbar{ background:#f0f0f0}
	.bar-buttons-md {order: inherit;}
	.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default, .bar-button-default-md:hover:not(.disable-hover), .bar-button-clear-md-default:hover:not(.disable-hover), .bar-button-md-default:hover:not(.disable-hover), .backtoprevious-icon{color:#333;text-transform: capitalize;}
	#sortbar{padding:0;margin:0;background:#f0f0f0}
	#sortbar ion-label{margin: 0;width: 100%;padding: 10px 15px;}
	#sortbar ion-label ion-icon{line-height: 12px;vertical-align: top;}
#sortbar ion-label button{width: 100%;background:none;padding: 0;}
.company-name {float: left;}
.ion-md-arrow-dropup{float: right;}
.scroll-content{background-color:#fff;}	
ion-item-sliding{border-bottom: 1px solid #ccc;}
.item-md{color:#333;padding:0;}
.item-md h2{margin:10px 0;}
.label-md b{width:40%;display:inline-block;}
ion-navbar ion-buttons{margin-right:15px;}
.add-new-btn{background: #333;color: #fff;padding: 10px;text-align: center;width: 100%;}
.algn-cent{margin:0 auto;display:table;}
.algn-cent .ios-add-circle-outline{float:left;}
.algn-cent span{float:right;font-size: 15px;margin: 6px 10px;}
.toolbar-title-md{padding:0;}
}
